{
  "presets": [
    [ "react-app",
      { "absoluteRuntime": false
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    [
      "add-module-exports",
      {
        "addDefaultProperty": true
      }
    ]
  ]
}
