@import '~antd/dist/antd.css';

@font-face {
  font-weight: normal;
  font-family: CNNSansDisplay;
  font-style: normal;
  font-stretch: normal;
  src: local(CNNSansDisplay-Regular),
    url('./assets/fonts/CNN Sans/CNNSansDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-weight: 500;
  font-family: CNNSansDisplay;
  font-style: normal;
  font-stretch: normal;
  src: local(CNNSansDisplay-Medium),
    url('./assets/fonts/CNN Sans/CNNSansDisplay-Medium.ttf') format('truetype');
}
@font-face {
  font-weight: bold;
  font-family: CNNSansDisplay;
  font-style: normal;
  font-stretch: normal;
  src: local(CNNSansDisplay-Bold),
    url('./assets/fonts/CNN Sans/CNNSansDisplay-Bold.ttf') format('truetype');
}
@font-face {
  font-weight: 900;
  font-family: CNNSansDisplay;
  font-style: normal;
  font-stretch: normal;
  src: local(CNNSansDisplay-Heavy),
    url('./assets/fonts/CNN Sans/CNNSansDisplay-Heavy.ttf') format('truetype');
}
@font-face {
  font-weight: lighter;
  font-family: CNNSansDisplay;
  font-style: normal;
  font-stretch: normal;
  src: local(CNNSansDisplay-Light),
    url('./assets/fonts/CNN Sans/CNNSansDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: 'CNNIcons';
  font-style: normal;
  src: url('./assets/icons/fontello.eot?54556787');
  src: url('./assets/icons/fontello.eot?54556787#iefix') format('embedded-opentype'),
    url('./assets/icons/fontello.woff2?54556787') format('woff2'),
    url('./assets/icons/fontello.woff?54556787') format('woff'),
    url('./assets/icons/fontello.ttf?54556787') format('truetype'),
    url('./assets/icons/fontello.svg?54556787#fontello') format('svg');
}

@color-primary-red: #c00;
@color-bright-blue: #006eff;
@color-white: #fff;
@color-dark-grey: #262626;

* {
  font-family: CNNSansDisplay, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
